.calQuote {
  width: 60%;
  margin: 20px;
  margin-top: 100px;
}

.cal-quote,
.cal-author {
  text-align: left;
  font-style: italic;
  color: #575656;
}

.cal-author {
  font-weight: 700;
}

.cal-image {
  width: 25px;
}

.cal-error {
  color: red;
}
