*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgb(143, 238, 227), rgb(81, 218, 234));
}

#root {
  height: auto;
}

.keypads {
  width: 31%;
  border: 2px solid #bbb;
  margin: 11% auto;
  height: auto;
}

.keypads p {
  text-align: end;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: hsl(0, 1%, 65%);
}

.keypads-btn button {
  width: 25%;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid  #f3e9e9;
  background-color: #e4e0e0;
}

.keypads-btn button:hover {
  background-color: #f3e7e7;
}

.keypads-btn button.zero {
  width: 50%;
}

.keypads-btn button.bg-orange {
  background-color: rgb(242, 202, 129);
}

.keypads-btn button.bg-orange:hover {
  background-color: rgb(243, 186, 81);
}
